/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.shop-main-container {
 width: 85%;
 display: flex;
 margin: auto;
 flex-direction: column;
 /* height: 70vh; */
}
.shop-main-container h1 {
 margin: 40px 0 15px 0;
 color: #1d3e68;
 font-size: 36px;
}
.shop-search-filter-container {
 display: flex;
 justify-content: space-between;
}
#shop-filter {
 width: fit-content;
 color: #1d3e68;
 display: flex;
 justify-content: center;
 font-size: 16px;
 padding: 4px;
 border: 1px grey solid;
 background-color: white;
 border-radius: 5px;
}
.shop-cards {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.shop-card {
 border: 1px solid #00a3c8;
 width: 23%;
 margin: 30px 0;
 height: 300px;
 border-radius: 10px;
}
.shop-card img {
 width: 100%;
}