/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.cart-main-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.cart-container {
  display: flex;
  justify-content: space-between;
}
.cart-cards {
  overflow-y: scroll;
  height: 70vh;
  width: 78%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.cart-card {
  display: flex;
  width: 105%;
  height: 150px;
  margin: 25px 0;
  justify-content: space-between;
  padding: 90px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  margin-left: 30px;
}
.cart-card > img {
  height: inherit;
  width: 20%;
  border-radius: 5px;
}
.cart-card-detail-section {
  width: 65%;
}
.cart-card-detail-section > p {
  font-size: 20px;
  text-align: left;
  align-items: flex-start;
}
.cart-card > i {
  font-size: 36px;
  color: red;
  display: flex;
  align-items: center;
}
.cart-card > i:hover {
  cursor: pointer;
  color: #1d3e68;
  transition: all 0.35s ease-in-out;
  transform: rotate(90deg);
}
.cart-calculation-section {
  width: 20%;
  border: 1px solid #1d3e68;
  display: flex;
  height: 400px;
  flex-direction: column;
  background-color: #1d3e68;
  text-align: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
}
#pay-button-checkout {
  background-color: white;
  border: 1px solid #1d3e68;
  color: #1d3e68;
  padding: 6px 12px;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
}
#pay-button-checkout:hover {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  transition: all 0.35s ease-in-out;
}
.quantity-change-buttons {
  padding-bottom: 10px;
}
.quantity-change-buttons > button,
.quantity-change-buttons > input {
  background-color: white;
  border: 1px solid #1d3e68;
  cursor: pointer;
}
.quantity-change-buttons > input {
  width: 30px;
  text-align: center;
}
#cart-qty-btns {
  background-color: #1d3e68;
  width: 20px;
  color: white;
  font-weight: 700;
}
/* == CHECKOUT == */
.checkout-popup-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout-popup-container > img {
  width: 100%;
}
.checkout-popup-container h1 {
  text-align: center;
  color: #1d3e68;
}
.checkout-popup-container h2 {
  padding-bottom: 8px;
  color: #1d3e68;
}
.checkout-popup-container p {
  font-size: 18px;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* border: 1px dashed red; */
  margin: 0 auto;
}
.checkout-form > label > input {
  width: 100%;
  padding: 6px;
  font-size: 15px;
}
.checkout-form > button {
  background-color: #00a3c8;
  border: 1px solid #00a3c8;
  color: white;
  font-size: 16px;
  padding: 6px 0;
}
.checkout-form > button:hover {
  background-color: #1d3e68;
  border: #1d3e68 1px solid;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
#checkout-need-help {
  color: #00a3c8;
  text-align: center;
  font-size: 14px;
}
#checkout-need-help:hover {
  cursor: pointer;
}
/* == CHECKOUT == */
