/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.product-page-main-container {
  width: 85%;
  margin: 50px auto 0 auto;
}
.product-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-details-container img {
  width: 45%;
  height: 550px;
  /* border: 1px dashed blue; */
}
.product-details-section {
  width: 50%;
  /* border: 1px dashed red; */
  padding: 40px;
}
.product-details-section h1 {
  font-size: 36px;
}
.product-price > span {
  font-size: 36px;
}
.product-quantity > input {
  width: 70px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #00a3c8;
}
.product-quantity > button {
  width: 30px;
  padding: 4px;
  font-size: 16px;
  background-color: #00a3c8;
  border: 1px solid #00a3c8;
  color: white;
  font-weight: 700;
}
#product-page-cart-button {
  background-color: #00a3c8;
  border: 1px solid #00a3c8;
  color: white;
  font-size: 18px;
  padding: 6px 40px;
  border-radius: 100px;
}
#product-page-cart-button:hover {
  cursor: pointer;
  background-color: #1d3e68;
  border: #1d3e68 1px solid;
  transition: all 0.35s ease-in-out;
}
#product-description {
  line-height: 24px;
}
#product-rating {
  font-size: 36px;
}
.prevRating {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.prevRating > p {
  align-items: center;
}
.prevRating > div {
  margin-left: -150px;
}
.loading-gif {
  display: flex;
  margin: 200px auto;
  justify-content: center;
  align-items: center;
}
.product-details-bottom-section {
  margin-top: 60px;
}
.product-details-bottom-section ul {
padding-bottom: 50px;
}
.product-details-bottom-section li {
  padding-top: 12px;
}