/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.practitioner-chat-main-container {
  width: 85%;
  height: 70vh;
  display: flex;
  margin: 0 auto -80px auto;
}
.practitioner-chat-container {
  border: #1d3e68 1px dashed;
  padding: 40px;
  width: 80%;
}
.practitioner-chat-container h1 {
  color: #1d3e68;
}
.practitioner-chat-container select,
.practitioner-chat-container option {
  font-size: 14px;
  width: 25%;
  padding: 4px;
}
.practitioner-chats {
  border: 1px solid #1d3e68;
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}
.chat-messages h3 {
  color: #1d3e68;
  text-align: center;
  padding-top: 30px;
}
.receiving-bubble {
  background-color: #1d3e68;
  color: white;
  width: 250px;
  padding: 6px;
  margin: 4px;
  border-radius: 0 10px;
}
.sending-bubble {
  background-color: #00a3c8;
  color: white;
  width: 250px;
  padding: 6px;
  margin: 4px;
  border-radius: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.practitioner-chat--static {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.practitioner-chat--static input {
  width: 60vh;
  font-size: 14px;
  padding: 4px;
  height: 40px;
  border-radius: none;
}
.practitioner-chat--static button {
  height: 40px;
  width: 5vh;
  border: 1px solid #1d3e68;
  background-color: #1d3e68;
  color: white;
  border-radius: none;
}
.practitioner-chat--static button:hover {
  cursor: pointer;
  background-color: #00a3c8;
  border: 1px solid grey;
}
