/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.add-practitioners-main-container {
  width: 85%;
  display: flex;
  margin: 0 auto -80px auto;
  height: 70vh;
}
.add-practitioners-container {
 width: 70%;
 padding: 35px;
 border: 1px dashed red;
}
.add-practitioners-container h1 {
  color: #1d3e68;
}
.label{
  color: #021231;
}
.add-practitioners-container form {
  display: flex;
  flex-direction: column;
}
.add-practitioners-container form > input {
width: 35%;
font-size: 14px;
padding: 6px; 
}
.button-container {
  width: 35%;
font-size: 14px;
padding: 6px;
background-color:  #00a3c8;
border:  1px solid #00a3c8;
color: white; 
}