/* ==== ABOUT COMPONENT ==== */
/* == TITLE BANNER == */
.about-main-container {
  width: 100%;
}
.about-title-banner {
  background-image: url('../../img/black_doc.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  zoom: 60%;
  font-size: 150px;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  padding-left: 400px;
}
/* == TITLE BANNER == */
/* == FLOATING BANNER == */
.about-floating-banner {
  width: 85%;
  height: 200px;
  display: flex;
  align-items: center;
  margin: -30px auto 0 auto;
  background-color: white;
  border-radius: 10px;
  justify-content: space-evenly;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about-floating-banner-cell {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.about-hr {
  border: none;
  border-left: 1px dashed lightgray;
  height: 150px;
  width: 1px;
}
.about-floating-banner-cell h4 {
  color: #00a3c8;
  padding-bottom: 10px;
}
.about-floating-banner-cell h2 {
  color: #1d3e68;
  padding-bottom: 10px;
}
.about-floating-banner-cell p {
  color: #6b6b6b;
  font-weight: 300;
}
/* == FLOATING BANNER == */
/* == DEPARTMENTS == */
#department-title {
  color: #1d3e68;
  text-align: center;
  margin: 120px auto 50px;
  font-size: 36px;
}
.about-departments-main-container {
  width: 78%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.about-departments-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-department-card {
  display: flex;
  width: 48%;
  height: 130px;
  align-items: center;
  background-color: #f8f9fb;
  margin: 10px 0;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about-department-card i {
  zoom: 3;
  padding: 0 10px;
  color: #00a3c8;
}
.about-department-card-txt {
  padding: 10px;
}
.about-department-card-txt h3 {
  color: #1d3e68;
  padding-bottom: 4px;
}
.about-department-card-txt p {
  color: #6b6b6b;
  font-size: 14px;
}
.about-working {
  background-color: #00a3c8;
  color: white;
  width: 25%;
  padding: 40px;
  border-radius: 10px;
}
.weekdays {
  font-weight: 600;
}
.about-working > p > span {
  font-weight: 300;
}
/* == DEPARTMENTS == */
/* ==== ABOUT COMPONENT ==== */
