/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.patient-main-container {
  width: 85%;
  display: flex;
  margin: 0 auto -80px auto;
  height: 70vh;
}
.patient-details-dash-section {
 width: 55%;
 padding: 35px;
}
.patient-details-dash-section h1 {
 color: #1d3e68;
}
<<<<<<< HEAD
.patient-details-dash-section textarea {
width: 80%;
height: 100px;
border: 1px solid lightgray;
padding: 6px;border-radius: 5px;
}
.patient-details-title {
margin-bottom: 10px;
}
.patient-details-title > span {
 color: #1d3e68;
 font-weight: 700;
}
.patient-details-notification-section {
 width: 24%;
 height: fit-content;
 padding: 35px 30px;
 background-color: #00a3c8;
 color: white;
}
.patient-details-notification-section h2 {
text-align: center;
padding-bottom: 20px;
}
=======
>>>>>>> a85e9c63a239db4f345fe7b5996503802acf143b

