/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.patient-main-container {
  width: 85%;
  display: flex;
  margin: 0 auto -80px auto;
  height: 70vh;
}
.patient-details-dash-section {
 width: 55%;
 padding: 35px;
}
.patient-details-dash-section h1 {
 color: #1d3e68;
}

