/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.patient-main-container {
  width: 85%;
}
.patient-create-appointment-container {
  padding: 40px;
  width: 55%;
}
.patient-create-appointment-container h1 {
  color: #1d3e68;
  padding-bottom: 10px;
}

.patient-appointment-form button[type='submit'] {
  width: fit-content;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #00a3c8;
  border: 1px solid #00a3c8;
  color: white;
}
