/* ==== HOME COMPONENT ==== */
.home-container {
  width: 100%;
}
/* == HOME BANNER == */
.home-banner-container {
  height: 700px;
  background-image: url('../../img/banner-img-full.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.home-banner-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: auto 0 auto 8%;
  height: 700px;
}
.home-banner-container-text h1 {
  font-size: 60px;
}
.home-banner-container-text p {
  font-size: 20px;
  line-height: 30px;
}
.home-banner-container-text button {
  background-color: #1d3e68;
  border: #1d3e68 1px solid;
  padding: 6px 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.home-banner-container-text button:hover {
  background-color: white;
  color: #1d3e68;
  transition: all 0.35s ease-in-out;
}
/* == HOME BANNER == */
/* == HOME WELCOME BANNER == */
.home-welcome-banner {
  width: 85%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.home-welcome-banner-text {
 width: 45%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.home-welcome-banner-text img {
 width: 150px;
 color: #1d3e68;
}
.home-welcome-banner-text h3 {
  color: #1d3e68;
}
.home-welcome-banner-text h1 {
  font-size: 40px;
}
.home-welcome-banner-text p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
/* == HOME WELCOME BANNER == */
/* == HOME SOLUTION == */
.home-solutions-container {
 width: 100%;
 background-color: #F8F9FB;
}
.home-solution {
 width: 80%;
 display: flex;
 flex-direction: column;
 margin: 100px auto;
 padding: 80px 0;
 text-align: center;
}
.home-solution h1 {
 font-size: 36px;
}
.home-solution-cards {
 display: flex;
 justify-content: space-evenly;
 margin-top: 60px;
}
.home-solution-card {
 width: 20%;
 background-color: white;
 padding: 40px;
 border-radius: 15px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.home-solution-card h3 {
 color: #1d3e68;
}
.home-solution-card-img {
 background-color: #F8F9FB;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
}
.home-solution-card-img i {
 font-size: 40px;
 color: #1d3e68;
}
/* ==== HOME COMPONENT ==== */
