/* ==== HOME COMPONENT ==== */
.home-container {
  width: 100%;
}
/* == HOME BANNER == */
.home-banner-container {
  height: 700px;
  background-image: url('../../img/banner-img-full.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.home-banner-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: auto 0 auto 8%;
  height: 700px;
}
.home-banner-container-text h1 {
  font-size: 60px;
}
.home-banner-container-text p {
  font-size: 20px;
  line-height: 30px;
}
.home-banner-container-text button {
  background-color: #1d3e68;
  border: #1d3e68 1px solid;
  padding: 6px 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.home-banner-container-text button:hover {
  background-color: white;
  color: #1d3e68;
  transition: all 0.35s ease-in-out;
}
/* == HOME BANNER == */
/* == HOME WELCOME BANNER == */
.home-welcome-banner {
  width: 85%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.home-welcome-banner-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-welcome-banner-text img {
  width: 150px;
  color: #1d3e68;
}
.home-welcome-banner-text h3 {
  color: #1d3e68;
}
.home-welcome-banner-text h1 {
  font-size: 40px;
}
.home-welcome-banner-text p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
/* == HOME WELCOME BANNER == */
/* == HOME SOLUTION == */
.home-solutions-container {
  width: 100%;
  background-color: #ececec;
}
.home-solution {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding: 80px 0;
  text-align: center;
}
.home-solution h1 {
  font-size: 36px;
}
.home-solution p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.home-solution-cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.home-solution-card {
  width: 22%;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.home-solution-card h3 {
  color: #1d3e68;
}
.home-solution-card-img {
  background-color: #ececec;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home-solution-card-img i {
  font-size: 40px;
  color: #1d3e68;
}
/* == HOME PRACTICES == */
.home-practices-container {
  width: 85%;
  display: flex;
  margin: 0 auto 100px auto;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../img/black-female-doctor-focused.png');
  height: 700px;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  background-size: 75%;
}
.home-practices {
  width: 45%;
}
.home-practices p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding-top: 10px;
}
.home-practices h1 {
  font-size: 2rem;
}
.home-practices button {
  background-color: #1d3e68;
  border: #1d3e68 1px solid;
  color: white;
  padding: 6px 12px;
  font-size: 20px;
}
.home-practices button:hover {
  cursor: pointer;
  background-color: white;
  color: #1d3e68;
  transition: all 0.35s ease-in-out;
}
/* == HOME PRACTICES == */
/* == MEDIA QUERIES == */
@media screen and (max-width: 768px) {
  /* == HOME BANNER == */
  .home-banner-container {
    height: 400px;
    background-image: url('../../img/banner-img-mobile.jpg');
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-banner-container-text {
    color: white;
    width: 75%;
    margin: auto;
    height: 300px;
    align-items: center;
    text-align: center;
  }
  .home-banner-container-text h3 {
    font-size: 18px;
  }
  .home-banner-container-text h1 {
    font-size: 28px;
  }
  .home-banner-container-text p {
    font-size: 12px;
    line-height: 20px;
  }
  .home-banner-container-text button {
    font-size: 16px;
  }
  /* == HOME BANNER == */
  /* == HOME WELCOME BANNER == */
  .home-welcome-banner {
    flex-direction: column;
    margin-bottom: -30px;
    align-items: center;
  }
  .home-welcome-banner img {
    width: 70%;
  }
  .home-welcome-banner-text {
    width: 85%;
    text-align: center;
  }
  .home-welcome-banner-text img {
    width: 120px;
    display: flex;
    margin: auto;
  }
  .home-welcome-banner-text h3 {
    margin-top: 25px;
  }
  .home-welcome-banner-text h1 {
    font-size: 32px;
  }
  .home-welcome-banner-text p {
    font-size: 14px;
    line-height: 20px;
  }
  /* == HOME WELCOME BANNER == */
  /* == HOME SOLUTION == */
  .home-solution {
    width: 90%;
  }
  .home-solution h1 {
    font-size: 28px;
    text-align: center;
  }
  .home-solution p {
    font-size: 12px;
    line-height: 20px;
  }
  .home-solution-cards {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
    margin: inherit auto 10px auto;
  }
  .home-solution-card {
    width: 100%;
    padding: 15px;
  }
  .home-solution-card p {
    font-size: 12px;
  }
  .home-solution-card h3 {
    font-size: 15px;
  }
  .home-solution-card-img {
    width: 80px;
    height: 80px;
  }
  .home-solution-card-img i {
    font-size: 35px;
  }
  /* == HOME SOLUTION == */
  /* == HOME PRACTICES == */
  .home-practices-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: none;
  }
  .home-practices-img {
    background-image: url('../../img/black-female-doctor-focused.png');
    align-items: center;
    height: 300px;
    width: 100%;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    background-size: 100%;
  }
  .home-practices {
    width: 100%;
  }
  .home-practices p {
    font-size: 16px;
    line-height: 23px;
  }
  .home-practices h1 {
    font-size: 30px;
  }
  .home-practices button {
    font-size: 16px;
    display: flex;
    margin: 10px auto 0;
  }

  /* == HOME PRACTICES == */
  /* == HOME TESTIMONIALS == */
  .home-testimonials-container {
    background-color: #f8f9fb;
    padding: 70px 0;
  }
  .home-testimonials {
    width: 85%;
    margin-bottom: 50px;
  }
  .home-testimonials h1 {
    font-size: 26px;
  }
  .home-testimonials p {
    font-size: 16px;
    line-height: 26px;
  }
  .home-testimonial-cards {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
  }
  .home-testimonial-card {
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 40px 50px;
    border-radius: 10px;
  }
  .home-testimonial-card img {
    width: 50%;
    border-radius: 50%;
  }
  .home-testimonial-card p {
    margin-bottom: 10px;
  }
  /* == HOME TESTIMONIALS == */
}
/* ==== HOME COMPONENT ==== */
@media screen and (min-width: 769px) and (max-width: 1366px) {
  /* == HOME BANNER == */
  .home-banner-container {
    height: 95vh;
    background-position: right center;
    zoom: 80%;
  }
  .home-banner-container-text {
    width: 38%;
    margin: auto 0 auto 8%;
    height: inherit;
  }
  .home-banner-container-text h1 {
    font-size: 2rem;
  }
  .home-banner-container-text p {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .home-banner-container-text button {
    font-size: 1.2rem;
  }
  /* == HOME BANNER == */
  /* == HOME WELCOME BANNER == */
  .home-welcome-banner img {
    width: 50%;
    height: fit-content;
  }
  .home-welcome-banner-text h3 {
    font-size: 1rem;
  }
  .home-welcome-banner-text h1 {
    font-size: 1.8rem;
  }
  .home-welcome-banner-text p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .home-welcome-banner-text img {
    width: 100px;
  }
  /* == HOME WELCOME BANNER == */
  /* == HOME SOLUTION == */
  .home-solution {
    width: 100%;
  }
  .home-solution h1 {
    font-size: 2rem;
  }
  .home-solution p {
    margin: auto;
    width: 85%;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
  }
  .home-solution-cards {
    display: flex;
    width: 90%;
    margin: 60px auto 0 auto;
  }
  .home-solution-card {
    width: 22%;
    padding: 1rem 0.5rem;
  }
  .home-solution-card h3 {
    font-size: 1rem;
    align-self: center;
  }
  .home-solution-card {
    font-size: 0.8rem;
  }
  /* == HOME PRACTICES == */
  .home-practices-container {
    background-size: 85%;
    height: 110vh;
  }
  .home-practices {
    width: 45%;
  }
  .home-practices p {
    font-size: 0.9rem;
    line-height: 1.6em;
    font-weight: 500;
    padding-top: 2px;
  }
  .home-practices h1 {
    font-size: 1.5rem;
  }
  .home-practices button {
    font-size: 0.9rem;
  }
  /* == HOME PRACTICES == */
}
/* ==== HOME COMPONENT ==== */
/* ========== END OF MEDIA QUERIES =============== */
