/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.customModal {
  max-width: 500px;
  width: 100%;
  height: 87vh;
  border: 2px solid #1d3e68;
  /* background: #1d3e68; */
  border-radius: 15px;
}
.patient-details-popup-container h1 {
  padding-bottom: 20px;
  color: #1d3e68;
}
.patient-details-popup-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.patient-details-form-popup {
  width: 50%;
}
.patient-details-form-popup label {
  font-size: 18px;
}
.patient-details-form-popup input,
.patient-details-form-popup textarea {
  width: 100%;
  border: 1px solid #1d3e68;
  font-size: 15px;
  padding: 4px;
  border-radius: 5px;
}
.patient-details-form-popup button {
  background-color: #1d3e68;
  border: 1px solid #1d3e68;
  color: white;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 5px;
}
.patient-details-form-popup button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1d3e68;
  color: #1d3e68;
  transition: all 0.35s ease-in-out;
}

.patient-details-popup {
  position: absolute;
  z-index: 2;
}
