.top-bar-container {
  background-color: #1d3e68;
  width: 100%;
  color: white;
}
.topbar {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 35px;
  align-items: center;
  margin: auto;
}
.topbar2 i {
 padding: 0 6px;
 cursor: pointer;
 color: white;
}
.menubar-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #1d3e68;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  padding-right: 10px;
}
#logo-txt1 {
  font-size: 36px;
  font-weight: 600;
}
#logo-txt2 {
  font-size: 23.5px;
  font-style: italic;
}


.menubar-nav {
  display: flex;
  align-items: center;
}
.menubar-nav button {
  width: 100px;
  height: fit-content;
}
.menubar-nav a{
  font-size: 24px;
  color: #1d3e68;
  text-decoration: none;
  padding: 16px;
}
