.top-bar-container {
  background-color: #1d3e68;
  width: 100%;
  color: white;
}
.topbar {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 35px;
  align-items: center;
  margin: auto;
}
.topbar2 i {
 padding: 0 6px;
 cursor: pointer;
 color: white;
}
.menubar-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.menubar-nav a{
  font-size: 40px;
}
