/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.reset-password-main-container {
 width: 30%;
 height: 40vh;
 display: flex;
 flex-direction: column;
 margin: 100px auto;
 background-color: #1d3e68;
 align-items: center;
 color: white;
 border-radius: 10px;
}
.reset-password-form {
 display: flex;
 flex-direction: column;
 width: 70%;
 margin: 0 auto;
}
.reset-password-form label {
 padding-bottom: 10px;
}
.reset-password-form input {
 border: 1px solid lightgray;
 padding: 6px 12px;
 font-size: 14px;
 border-radius: 5px;
}
.reset-password-form button {
 background-color: #00a3c8;
 color: #1d3e68;
 border: 1px solid #00a3c8;
 color: white;
 padding: 6px 12px;
 border-radius: 5px;
 font-size: 16px;
}