/* FONT: Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  text-decoration: none;
  /* color: #1d3e68; */
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#cart-warning {
  height: 35px;
  width: 200px;
  position: fixed;
  right: 0;
  top: 20%;
  background-color: rgb(210, 91, 91);
  font-size: 1.1rem;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}
#cart-success {
  height: 35px;
  width: 200px;
  position: fixed;
  right: 0;
  top: 20%;
  background-color: #5cb85c;
  font-size: 1.1rem;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}
