/* LIGHT BLUE > #00a3c8 */
/* DARK BLUE > #1d3e68 */
/* LIGHT GREY > #f8f9fb */
.patient-appointments-main-container {
 width: 85%;
 height: 70vh;
 display: flex;
 margin: 0 auto -80px auto;
}
.patient-existing-appointments {
 padding: 40px;
}
.patient-existing-appointments h1 {
 color: #1d3e68;

}

.patient-existing-appointments h3{
    color: #1d3e68;
    font-size: 25px;
   
}

.patient-existing-appointments h4{
    color:  #00a3c8;
    font-size: 25px;
}

.patients-appointments button{
    width: fit-content;
    padding: 6px 10px;
    font-size: 18px;
    background-color:  #1d3e68;
    color: rgb(255, 255, 255);
    position:relative; left:550px; bottom: 60px
    
}

