footer {
  width: 100%;
}
.footercontainer {
  background-color: #1d3e68;
  margin-top: 80px;
}
.footer1 {
  width: 85%;
  height: 150px;
  background-color: #1d3e68;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer1 p {
  color: white;
  margin: auto 0;
}
#news-email {
  background-color: white;
  padding: 8px 30px;
  border: 1px solid white;
}
#sub {
  padding: 8px 24px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}
#sub:hover {
  color: #1d3e68;
  background-color: white;
  border-left: 1px solid #1d3e68;
}
.footer-2-container {
  width: 100%;
  background-color: black;
}
.footer2 {
  height: 350px auto;
  width: 85%;
  color: white;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
}
/*  */
.logo-footer {
  display: flex;
  align-items: center;
  color: #1d3e68;
}
.logo-footer img {
  width: 100px;
  padding-right: 10px;
}
.logo-txt {
  color: #1d3e68;
}
#logo-txt1-footer {
  color: #1d3e68;
  font-size: 36px;
  font-weight: 600;
}
#logo-txt2-footer {
  font-size: 23.5px;
  font-style: italic;
  color: #1d3e68;
}
/*  */
#section1 {
  width: 45%;
}
#section1 a {
  text-decoration: none;
  color: #1d3e68;
}
#section1 h1 {
  color: #1d3e68;
}
#section1 h3 {
  color: #1d3e68;
}
#section2 {
  line-height: 30px;
  width: 20%;
}
#section2 h1 {
  margin-bottom: 18px;
}
#section2 p a {
  line-height: 30px;
  text-decoration: none;
  color: white;
  padding-top: 8px;
}
