.login-main-container {
  width: 75%;
  display: flex;
  margin: 100px auto;
  justify-content: space-evenly;
  height: 750px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.login-form-container {
  width: 50%;
  background-color: #1d3e68;
  color: white;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-img {
  width: 50%;
  background-image: url('../../img/Pexels-Photo-by-Karolina-Grabowska.png');
  background-repeat: no-repeat;
  background-position: center;
  /* zoom: 0.9; */
}
.login-form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.login-form p {
  padding-bottom: 10px;
}
.login-form input {
  border-radius: 150px;
  padding: 10px;
  border: 1px white solid;
  margin: 10px 0;
  color: #1d3e68;
  font-size: 16px;
}
.login-form button {
  cursor: pointer;
  border-radius: 150px;
  padding: 10px;
  border: 1px white solid;
  margin: 10px 0;
  color: white;
  font-size: 16px;
  background-color: #00a3c8;
}
.login-form button:hover {
  cursor: pointer;
  background-color: #1d3e68;
  border: 1px solid white;
  color: white;
  transition: all 0.35s ease-in-out;
}
.already {
  width: 50%;
}
.already p {
  padding-top: 12px;
}
.already button {
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 12px;
  border: 1px white solid;
  margin: 10px 0;
  color: white;
  font-size: 14px;
  background-color: #00a3c8;
}
.already button:hover {
  cursor: pointer;
  background-color: #1d3e68;
  border: 1px solid white;
  color: white;
  transition: all 0.35s ease-in-out;
}
.login-error-display {
  width: 50%;
  background-color: rgba(52, 52, 52, 0.8);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}
